version: '3.8'
services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: wallet-backend
    volumes:
      - postgres-db:/var/lib/postgresql/data
    ports:
      - 5432:5432

volumes:
  postgres-db:
    driver: local